.header {
	width: 100%;
	height: auto;
	margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

ul {
	list-style: none;
	margin-right: 50px;
	margin-left: 50px;
}

li {
	display: inline-block;
	background-color: orange;
	font-family: verdana;
	color: black;
	padding-right: 10px;
}

ul li a:link, a:visited {
    background-color: #f44336;
    color: orange;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#feed {
	text-align: center;
	font-family: verdana;
}

#content .gutter {
	margin-right: 10px;/* right gutter */
	margin-left: 10px;/* left gutter*/
}

#contentFun .gutterFun {
	margin-right: 10px;/* right gutter */
	margin-left: 10px;/* left gutter*/
}

#para {
	font-family: verdana;
	color: black;
	vertical-align: super;
	float: right;
	margin-right: 50px;
	width: 80%;
	font-family: sans-serif;
}

#para1 {
	font-family: verdana;
	color: black;
	vertical-align: super;
	float: left;
	margin-right: 20px;
	margin-left: 50px;
	width: 80%;
	font-family: sans-serif;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid;
    padding: 10px;
}

#funPara {
	font-family: verdana;
	color: black;
	vertical-align: super;
	float: left;
	margin-right: 20px;
	margin-left: 50px;
	width: 80%;

}

#folksPara {
	font-family: verdana;
	color: black;
	vertical-align: super;
	text-align: center;
	float: left;
	margin-right: 20px;
	margin-left: 50px;
	width: 80%
}

#content1 .gutter1 {
	margin-right: 10px;/* right gutter */
	margin-left: 50px;/* left gutter*/
}

input {
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: verdana;
}

ul.linkHW{
	 list-style-type: circle;
}

#images_hz {
width:100%;
height: auto;
overflow: hidden;
align-items: center;
margin-left: 100px;
}
#images_hz img {
display: inline;
margin: 20px;
}
